.menuBar {
    background-color: #015690;
    color: white;
    display: block;
    padding: 10px;
    height: 75px;
    width: 100%;
    top: 0px;
    position: static;
    /*z-index: 100;*/
}

.container {
    margin: -10px auto;
    padding: 2px 2px;
    width: 100%;
    height: 20px;
    text-align: left;
}

.text {
    color: rgba(255, 255, 255, 0.5);
}

.spacer {
    color: rgba(255, 255, 255, 0.3);
}

.text,
.link {
    padding: 2px 5px;
    font-size: 1em;
}

.link,
.link:active,
.link:visited {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.link:hover {
    color: rgba(255, 255, 255, 1);
}
